<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="js/app.js"></script>
    
</head>
<body>
    <div ng-controller="myCtr">
    {{name}}
    <table border="border">
        <thead>
            <th>name</th>
            <th>company</th>
            <th>
                sal
            </th>
        </thead>
        <tbody>
            <tr ng-repeat="person in people">
                <td> {{person.name}}</td>
                <td> {{person.company}}</td>
                <td> {{person.sal}}</td>
                </tr>
        </tbody>
    </table>
</div>
</body>
</html>
<table border="border">
        <thead>
            <th>name</th>
            <th>company</th>
            <th>
                sal
            </th>
        </thead>
        <tbody>
            <tr ng-repeat="player in players">
                <td> {{player.name}}</td>
                <td> {{player.company}}</td>
                <td> {{player.sal}}</td>
                <!-- <td> <img src"{{player.photo}}"/></td> -->
                </tr>
        </tbody>
    </table>
